/QBCoreFramework_081DD9.base/cache
/QBCoreFramework_081DD9.base/resources/[cfx-default]
/QBCoreFramework_081DD9.base/resources/[standalone]/screenshot-basic
/QBCoreFramework_081DD9.base/resources/[qb]/qb-loading/assets/video
/QBCoreFramework_081DD9.base/resources/[standalone]/WC_ClothingPack
WC_ClothingPack
/QBCoreFramework_081DD9.base/resources/[standalone]/eup-stream
/QBCoreFramework_081DD9.base/resources/[arsenoui]
[arsenoui]
/QBCoreFramework_081DD9.base/resources/[arsenoui]/*
