/QBCoreFramework_081DD9.base/cache
/QBCoreFramework_081DD9.base/resources/[cfx-default]
/QBCoreFramework_081DD9.base/resources/[standalone]/screenshot-basic
/QBCoreFramework_081DD9.base/resources/[qb]/qb-loading/assets/video
